@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  color:black;
}

.shadow-yellow{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (min-width: 1024px)  {

  .custom-padding {
    padding-left: 200px !important;
    padding-right:200px !important;
  }
  
}

@media screen and (min-width: 1200px)  {

  .custom-padding {
    padding-left: 300px !important;
    padding-right:300px !important;
  }
  
}


@media screen and (max-width: 648px)  {

  .custom-block {
    width: 96%;
    margin-left: 8px;
    float: none;
  }

  .custom-save-btn{
    width: 200px;
  }

  .custom-search {

    width: 100%;

  }

}